*{
    padding: 0;
    margin: 0;
}
ul,ol,dl{
    list-style: none;
}
#tab{
    width: 80vw;
    display: flex;
    text-align: center;
    margin: 100px auto;
    position: relative;
}
#tab > li{
    width: 25%;
}
#tab > li input{
    display: none;
}
#tab > li label{
    display: block;
    background-color: #333;
    color: #fff;
    line-height: 50px;
}
#tab > li div{
    height: 300px;
    background-color: aliceblue;
    color: #333;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
}
#tab li input:checked ~ div{
    z-index: 9;
}